/* General Styles */

/* Fonts Style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Common Shared Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary-1 {
    color: white;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    border: 0;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn-primary-2 {
    color: white;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    margin-bottom: 148px;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    max-height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #eb5e5e52;
}

.nav-about {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.font-color {
    color: #FF42A5;
}

.gamer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px 640px 40px 240px;
}

.gamer-icon {
    width: 50px;
    height: 25px;
}

.gamer-word {
    font-size: 34px;
    font-weight: 700;
}

.nav-options {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}

.social-links {
    display: flex;
    list-style: none;
    gap: 24px;
    width: 220px;
    height: 56px;
    border-radius: 8px;
    margin-right: 240px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    justify-content: center;
}


/* Banner Styles */

.banner {
    display: flex;
    align-items: initial;
}

.section-1 {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    align-items: center;
    margin-right: 68px;
    width: 900px;
    height: 700px;
    padding: 100px 300px 148px 240px;
}

.sec-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.para {
    margin-bottom: 50px;
}

.para-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec-title-ex {
    width: 355px;
    height: 111px;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-2 {
    margin-right: 240px;
}

/* Gamer Description */
.gamer-title {
    display: flex;
    margin: 55px 240px;
}


.gamer-description {
    text-align: right;
}

.we-are-gamer {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-words {
    width: 520px;
    color: #534C64;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.purpose,
.unleash {
    width: 520px;
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.unleash {
    font-size: 32px;
    font-weight: 700;
}

/* Funny Videos Section */
.games-pic {
    display: flex;
    gap: 28px;
    padding: 25px 240px;
}

.pic3 {
    position: relative;
    overflow: hidden;
}

.pic3>img {
    display: block;
    object-fit: cover;
    object-position: center;
}

.pic3>.content {
    position: absolute;
    inset: 0;
    font-size: 25px;
    text-align: center;
    padding: 155px 100px;
    border: 5px solid red;
    border-radius: 10px;
    background: rgba(179, 182, 182, 0.699);
}

.pic3>img,
pic3>.content {
    transition: 250ms ease-in-out;
}

.pic3>image {
    filter: blur(10px);
}

.pic3>.content {
    opacity: 0;
    cursor: pointer;
}

.pic3:hover>.content {
    opacity: 1;
}

figcaption {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}


.watch-now {
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.funny {
    text-align: center;
    margin: 0 auto;
}

.funny-head {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.funny-des {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Play Section */

.play-img {
    display: flex;
    align-items: center;
}

.play-intro {
    text-align: right;
    width: 353px;
    padding: 200px 60px 360px 400px;
}


.play-head {

    font-size: 48px;
    text-align: right;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.play-ins {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-des {
    color: #534C64;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}



.img12 {
    padding: 120px 240px 120px 0;
}

.img1 {
    width: 635px;
    height: 650px;
    border-radius: 10px;
    margin-left: 220px;
}

.img2 {
    border-radius: 8px;
    border: 0;
    width: 319px;
    height: 365px;
    position: relative;
    bottom: 245px;
}

/* Play Online Section */

.play-online {
    display: flex;
}

.img34 {
    padding: 0 110px 0 240px;
}

.img3 {
    width: 710px;
    height: 650px;
    border-radius: 10px;
}

.img4 {
    width: 318px;
    height: 365px;
    border-radius: 10px;
    border: 0;
    position: relative;
    margin-left: 528px;
    bottom: 245px;
}

.play-desc {
    text-align: left;
    align-items: center;
    padding: 120px 240px 120px 0;
}

.play-title {
    color: #0B0223;
    width: 426px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-title-ex {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-para {
    width: 483px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Career Sections */
.career {
    width: 1680px;
    height: 821px;
    padding: 120px 0 120px 240px;
    display: flex;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}


.car-title {
    width: 426px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.car-para {
    width: 680px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.car-opt {
    display: flex;
    gap: 55px;
}

.car-opt-1 {
    color: #FFF;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-left: -21%;
}


.car-opt-2 {
    text-align: right;
    color: #FFF;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 40px;
}

.car-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #FFF;
    border: 0;
}


/* Game Category Section */

.category {
    max-width: 1440px;
    margin: 130px 240px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.button {
    background: #fcf8f8;
    margin: 0px auto;
    min-width: 250px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    border: none;
}

.button:hover {
    background-color: pink;
    border: 2px solid red;
    cursor: pointer;
}


/* Footer Styles */

footer {
    width: 1920px;
    height: 636px;
    background: #0B0223;
}

.footer-icon {
    display: flex;
    color: #FFF;
    gap: 20px;
    width: 87px;
    height: 40px;
    font-size: 35px;
    font-weight: 700;
    align-items: center;
    padding: 120px 833px 65px 833px;
}

.options {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    gap: 60px;
    padding: 0 553px;
}

.social-nets {
    display: flex;
    gap: 40px;
    padding: 70px 731px;
}


.terms-cond {
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    gap: 60px;
    padding: 5px 606px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* Mobile View */

@media screen and (max-width:425px) {


    .nav-bar,
    .nav-options,
    .gamer,
    .nav-about {
        all: unset;
    }

    .nav-bar {
        flex-direction: column;
        display: grid;
        place-items: center;
        grid-template-columns: auto;
    }

    .gamer {
        align-items: center;
        display: flex;
    }

    .nav-options {
        align-items: center;
    }

    .nav-about {
        flex-direction: column;
        display: grid;
        place-items: center;
        margin-bottom: 10px;
    }

    .social-links {
        margin: 0 auto;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .section-2>img {
        max-width: 300px;
        margin: 0 auto;
        padding: 50px;
    }

    .section-1 {
        max-width: 300px;
        max-height: 480px;
        margin: 0 auto;
        padding: 0 50px;
    }

    .sec-title {
        font-size: 30px;
    }

    .sec-title-ex {
        max-width: 250px;
        font-size: 85px;
    }

    .para {
        margin-bottom: 30px;
    }

    .gamer-title {
        flex-direction: column;
        margin: 0 auto;
    }

    .pic>img {
        max-width: 400px;
    }

    .gamer-description {
        text-align: center;
    }

    .we-are-gamer {
        font-size: 50px;
    }

    .games-words {
        width: auto;
        text-align: center;
    }

    .purpose,
    .unleash {
        width: auto;
        text-align: center;
        padding-top: 60px;
    }


    .games-pic {
        flex-direction: column;
        display: grid;
        place-items: center;
        padding: 5px 40px;
        gap: 20px;
    }

    figcaption {
        text-align: center;
    }



    .play-img {
        flex-direction: column;
    }

    .play-intro {
        text-align: center;
        width: auto;
        padding: 20px;
    }


    .play-head {
        text-align: center;
    }

    .img12 {
        padding: 0;
    }

    .img1 {
        width: 75%;
        height: 75%;
        margin-left: 75px;
    }

    .img2>img {
        width: 50%;
        height: 50%;
        position: relative;
        top: 100px;
    }

    .play-online {
        flex-direction: column-reverse;
    }

    .play-desc {
        text-align: center;
        align-items: center;
        padding: 5px;
    }

    .play-title {
        width: auto;
        font-size: 40px;
    }

    .play-para {
        width: auto;
    }

    .img34 {
        padding: 0;
    }

    .img3 {
        width: 75%;
        height: 75%;
    }

    .img4>img {
        width: 50%;
        height: 50%;
        position: relative;
        left: -18.8rem;
        top: 135px;
    }

    .career {
        width: auto;
        padding: 5px 10px 200px 10px;
        flex-direction: column;
    }

    .car-title {
        width: auto;
        font-size: 35px;
    }

    .car-para {
        width: auto;
        font-size: 14px;
    }

    .car-opt {
        gap: 10px;
    }

    .car-opt-1 {
        font-size: 13px;
    }

    .car-opt-2 {
        font-size: 13px;
    }

    .car-btn {
        padding: 15px 30px;
    }

    .group-img>img {
        width: 100%;
    }

    .category {
        max-width: 400px;
        margin: 20px;
        gap: 10px;
    }

    .button {
        font-size: 8px;
        min-width: 75px;
        height: 30px;
    }

    .button>img {
        height: 30px;
    }


    footer {
        width: auto;
        height: auto;
        align-items: flex-start;
    }

    .footer-icon {
        padding: 50px 150px 30px 150px;
        gap: 10px;
        font-size: 25px;
        align-items: center;
        justify-content: center;
    }

    .footer-icon>img {
        height: 60%;
        display: grid;
        place-items: center;
        justify-content: center;
    }

    .options {
        font-size: 14px;
        padding: 10px 75px;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .social-nets {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 25px 70px;
    }

    .terms-cond {
        flex-wrap: wrap;
        gap: 20px;
        font-size: 14px;
        padding: 5px 20px;
        justify-content: center;
    }


}
